.Dashboard_header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    background-color: rgb(190, 224, 210);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.header_label {
    color: white;
    margin: 0;
    margin-left: 16px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.308);
    font-family: monospace;
    font-weight: 600;
    font-size: 32px;
}

.header_addtask {
    color: white;
    font-family: monospace;
    font-weight: 600;
    font-size: 18px;
}